<?xml version ="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
            name="robotic_arm">
    
     <!-- arm geometry and collision -->
    <xacro:include filename="robot_description.ros2_control.xacro"/>
    
    <!-- ros2_control interface -->
    <xacro:include filename="robot_description.urdf.xacro"/>
    

</robot>